html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    border-left: 10px solid #ffe01c;
    border-right: 300px solid #ffe01c;
}

body {
    margin: 0;
}

h1 {
    font-size: 50px;
}

.container {
    /* border-left: 10px solid #ffe01c;
    border-right: 300px solid #ffe01c; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    margin: 10px 0 20px 20px;
    align-self: flex-start;
}

img {
    max-height: 40px;
    width: auto;
}

.signup-form {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-item {
    margin: 5px 0 20px 0;
    padding: .5em;
    font-size: 18px;
    border-radius: 2px;
    border: 1px solid rgb(187, 187, 187);
}

.form-item:focus {
    border: 2px solid lightblue;
    outline: none;
}

.checkbox-container {
    display: flex;
    align-items: flex-start;
    /* margin: 20px 0 20px 0; */
}

input.checkbox {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background-color: teal;
    border: 3px solid teal;
}



.bottom-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.button {
    width: 150px;
    height: 50px;
    background-color: teal;
    margin-right: 20px;
    border: none;
    color: white;
    border-radius: 2px;
    font-weight: 600;
}

